

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Jack-Barry
	email = sirnapier88@gmail.com
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	fuc = "!git add . && git commit -a -m"
	co = checkout
	rs1 = reset --soft HEAD~
	rs2 = commit -c ORIG_HEAD
	pbn = push --set-upstream origin
[core]
	editor = nano
	excludesfile = /Users/Jack_Barry/.gitignore_global
[push]
	default = simple
